version: '3'
services:
  httpd_service:
    image: 'httpd'
    ports:
      - '80-85:80'
    volumes:
      - '/mnt/project/docker:/usr/local/apache2/htdocs/'

  tomcat_service:
    image: 'tomcat:9'
    ports:
      - '8081:8080'
    volumes:
      - '/mnt/project/game-of-life/gameoflife-web/target:/usr/local/tomcat/webapps'
